<div class="nav--spacer"></div>
<nav class="nav">
    <a class="nav--link-container" href="{{ url_for('admin') }}">
        <div class="nav--link">
            <i class="fas fa-search icon"></i>
            <h6 class="icon-text">Browse</h6>
        </div>
    </a>
    <a class="nav--link-container" href="{{ url_for('admin') }}">
        <div class="nav--link">
            <i class="fas fa-book icon"></i>
            <h6 class="icon-text">Cookbook</h6>
        </div>
    </a>
    <a class="nav--link-container" href="{{ url_for('admin') }}">
        <div class="nav--link">
            <i class="fas fa-utensils icon"></i>
            <h6 class="icon-text">Menu</h6>
        </div>
    </a>
    <a class="nav--link-container" href="{{ url_for('admin') }}">
        <div class="nav--link">
            <i class="fas fa-list-ul icon"></i>
            <h6 class="icon-text">Shopping</h6>
        </div>
    </a>
</nav>