{% set active_page = 'view_recipe' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_recipe.css') }}">
{% endblock %}

{% block extra_title %} | View Recipe{% endblock %}

{% block content %}
    {% with header_text="Lasagna", recipe_author="Hannah Burger", recipe_time="60" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <section class="container-section">
        <div class="recipe-card-image-body">
            {% include 'components/recipe_card_image_icons.html' %}
        </div>
        <a href="#">+ add note</a>
        <a href="#" class="text-center"><strong>- 2 servings +</strong></a>
    </section>
    <section class="container-section my-2">
        <div class="recipe-card-ingredients-instructions-body">
            {% include 'pages/view_recipe/includes/switch_ingredients-instructions.html' %}
            {% include 'pages/view_recipe/includes/recipe_card_ingredients-instructions.html' %}
        </div>
    </section>
{% endblock %}