<div class="accordion" id="accordion-profile">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                <i class="fas fa-user icon"></i>
                My information
            </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1"
            data-bs-parent="#accordion-profile">
            <div class="accordion-body">
                <div class="container-scrollx">
                    <ul>
                        <li>{{ user.name }}</li>
                        <li>{{ user.email }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                <i class="fas fa-bread-slice icon"></i>
                My cupboard ({{ user_cupboard|length }})
            </button>
        </h2>
        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
            data-bs-parent="#accordion-profile">
            <div class="accordion-body">
                <ul>
                    {% for item in user_cupboard %}
                        <li>{{ item.name }} {{ item.bag }}</li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{{ url_for('add_ingredient', select_name = 'profile-menu_add-ing_cupboard') }}" id="profile-menu_add-ing_cupboard">
                    <select name="cupboard">
                        {% for ing in ings_cupboard %}
                            <option value="{{ ing.url }}">{{ ing.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" form="profile-menu_add-ing_cupboard">+ add ingredients</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                <i class="fas fa-pepper-hot icon"></i>
                My spicerack ({{ user_spices|length }})
            </button>
        </h2>
        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
            data-bs-parent="#accordion-profile">
            <div class="accordion-body">
                <ul>
                    {% for item in user_spices %}
                        <li>{{ item.name }} {{ item.bag }}</li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{{ url_for('add_ingredient', select_name = 'profile-menu_add-ing_herbs-and-spices') }}" id="profile-menu_add-ing_herbs-and-spices">
                    <select name="herbs-and-spices">
                        {% for ing in ings_spices %}
                            <option value="{{ ing.url }}">{{ ing.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" form="profile-menu_add-ing_herbs-and-spices">+ add ingredients</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                <i class="fas fa-toilet-paper icon"></i>
                My house ({{ user_house|length }})
            </button>
        </h2>
        <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4"
            data-bs-parent="#accordion-profile">
            <div class="accordion-body">
                <ul>
                    {% for item in user_house %}
                        <li>{{ item.name }} {{ item.bag }}</li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{{ url_for('add_ingredient', select_name = 'profile-menu_add-ing_house') }}" id="profile-menu_add-ing_house">
                    <select name="profile-menu_add-ing_house">
                        {% for ing in ings_house %}
                            <option value="{{ ing._id }}">{{ ing.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" form="profile-menu_add-ing_house">+ add ingredients</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="button-short">
    <a href="">Update</a>
</div>