{% set active_page = 'profile' %}
{% extends "pages/base/base.html" %}

<!-- {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %} -->

{% block extra_title %} | Profile{% endblock %}

{% block content %}
    {% with header_text="Hannah", header_link="/" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <!-- Profile accordion -->
    <section class="container-section">
        {% include 'pages/profile/includes/accordion_profile-menu.html' %}
    </section>
{% endblock %}