<div class="accordion" id="accordion-profile">
    <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-profile-heading-1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-profile-collapse-1" aria-expanded="false" aria-controls="accordion-profile-collapse-1">
                <i class="fas fa-archive icon"></i>
                My cupboard ({{ shopping_cupboard_ings|length }})
            </button>
        </h2>
        <div id="accordion-profile-collapse-1" class="accordion-collapse collapse" aria-labelledby="accordion-profile-heading-1"
            data-bs-parent="#accordion-profile">
            <div class="accordion-body">
                <ul>
                    {% for item in shopping_cupboard_ings %}
                        <li><a href="{{ url_for('shopping_list_toggle_ing', ing_id = item._id ) }}">{{ item.name }} {{ item.bag }}</a></li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{{ url_for('profile_update_ing', profile_list = 'shopping' ) }}" id="form_profile-update-ingredient_shopping">
                    <select name="ingredient">
                        {% for ing in ings_shopping %}
                            <option value="{{ ing._id }}">{{ ing.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" form="form_profile-update-ingredient_shopping">+ update ingredients</button>
                </form>
            </div>
        </div>
    </div>    
</div>