<div class="accordion" id="accordion-profile">
    {% for ingredient in ingredients %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ loop.index }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                    <i class="{{ ingredient.ings_icon }} icon"></i>
                    {{ ingredient.ings_category }} ()
                </button>
            </h2>
            <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}"
                data-bs-parent="#accordion-profile">
                <div class="accordion-body">
                    <select>
                        {% for ing in ingredient.ings %}
                            <option value="{{ ing }}">{{ ing }}</option>
                        {% endfor %}
                    </select>
                    <!-- Ingredients, quanities -->
                    <a href="#">+ add ingredients</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>