{% set active_page = 'index' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="header-spacer"></div>
    <section class="container-fullscreen-section">
        <div class="button-long">
            <a href="{{ url_for('login') }}">Log in</a>
        </div>
        <div class="button-long">
            <a href="{{ url_for('register') }}">Register</a>
        </div>
    </section>
    <div class="nav-spacer"></div>
{% endblock %}