.header-body {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;

    padding: 10px;

    position: fixed;
    top: 0;
    z-index: 10;

    border: black solid 2px;
    background-color: white;
}

.header-spacer {
    height: 56px;
}