.recipe-card-body, .recipe-card-image-body {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.recipe-card-icon-row {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.recipe-card-image {
    width: 100%;
    height: 200px;
    border: black solid 2px;
}

.recipe-card-icon {
    position: absolute;
}

.recipe-card-icon-left {
    left: 0;
    margin: 10px 0 0 10px;
}

.recipe-card-icon-right {
    right: 0;
    margin: 10px 10px 0 0;
}

.recipe-card-icon-timer {
    border: none;
    margin: 0 0 0 5px;
}

.recipe-card-text {
    display: flex;
    align-items: baseline;
}