.recipe-card-body, .recipe-card-image-body {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.recipe-card-sm-body {
    width: 50%;
    padding: 0 10px;
}

.recipe-card-ingredients-instructions-body {
    width: 100%;
    border: black solid 2px;
}

.recipe-card-icon-row {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.recipe-card-image {
    width: 100%;
    padding-top: 50%;
    border: black solid 2px;
}

.recipe-card-sm-image {
    width: 100%;
    padding-top: 100%;
    border: black solid 2px;
}

.recipe-card-icon {
    position: absolute;
}

.recipe-card-icon-left {
    left: 0;
    margin: 10px 0 0 10px;
}

.recipe-card-icon-right {
    right: 0;
    margin: 10px 10px 0 0;
}

.recipe-card-sm-icon-left {
    left: 0;
    margin: 5px 0 0 15px;
}

.recipe-card-sm-icon-right {
    right: 0;
    margin: 5px 15px 0 0;
}

.recipe-card-icon-timer {
    border: none;
    margin: 0 0 0 5px;
}

.recipe-card-text {
    display: flex;
    align-items: baseline;
}

.recipe-card-sm-text {
    display: block;
}

.recipe-card-ingredients-content-items {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
}

.recipe-card-ingredients-content-items li {
    width: 50%;
}

.recipe-card-instructions-content-items {
    margin: 1rem 0;
}