{% set active_page = 'browse' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
{% endblock %}

{% block extra_title %} | Browse Recipes{% endblock %}

{% block content %}
    {% with header_text="Browse", header_link="/profile" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <section class="container-section">
        <p>Search by:</p>
        {% include 'pages/browse/includes/switch_dish-ingredients.html' %}
        <div class="button-long">
            <i class="fas fa-search icon"></i>
            <p>Search dishes</p>
        </div>
        <div class="button-short">
            <a href="{{ url_for('browse_results') }}">Search</a>
        </div>
    </section>
{% endblock %}