{% set active_page = 'register' %}
{% extends "pages/base/base.html" %}

<!-- {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %} -->

{% block extra_title %} | Register{% endblock %}

{% block content %}
    {% with header_text="Register", header_link="/" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <section class="container-fullscreen-section">
        <div class="button-long">
            <p>Email</p>
        </div>
        <div class="button-long">
            <p>Password</p>
        </div>
        <div class="button-long">
            <p>Confirm password</p>
        </div>
        <div class="button-long">
            <a href="{{ url_for('profile') }}">Register</a>
        </div>
    </section>
{% endblock %}