{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
{% endblock %}

<header class="header-body">
    <a href="{{ header_link }}">
        <i class="fas fa-arrow-left icon"></i>
    </a>
    <div class="header-text">
        <h1>{{ header_text }}</h1>
        {% if (active_page == 'view_recipe') %}    
        <h5>{{ recipe_author }}<i class="far fa-clock icon recipe-card-icon-timer"></i>{{ recipe_time }} mins</h5>
        {% endif %}
    </div>
</header>
<div class="header-spacer"></div>