<div class="navbar-spacer"></div>
<nav class="navbar">
    <a class="col-3" href="{{ url_for('add_recipe') }}">
        <i class="fas fa-plus icon"></i>
        <span>Create recipe</span>
    </a>
    <a class="col-3" href="{{ url_for('browse') }}">
        <i class="fas fa-search icon"></i>
        <span>Browse</span>
    </a>
    <a class="col-3" href="{{ url_for('cookbook') }}">
        <i class="fas fa-book icon"></i>
        <span>Cookbook</span>
    </a>
    <a class="col-3" href="{{ url_for('menu') }}">
        <i class="fas fa-utensils icon"></i>
        <span>Menu</span>
    </a>
</nav>