<div class="recipe-card-body">
    <div class="recipe-card-image">
        <a href="#">
            <i class="fas fa-utensils icon recipe-card-icon recipe-card-icon-left"></i>
        </a>
        <a href="#">
            <i class="fas fa-heart icon recipe-card-icon recipe-card-icon-right"></i>
        </a>
    </div>
    <div class="recipe-card-text">
        <h3>{{ recipe_name }}</h3>
        <h5><i class="far fa-clock icon recipe-card-icon-timer"></i>{{ recipe_time }} mins</h5>
    </div>
</div>