{% set active_page = 'menu' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block extra_title %} | Menu{% endblock %}

{% block content %}
    {% with header_text="Menu" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <section class="container-section">
        <div class="button-short">
            <a href="#">Generate shopping list</a>
        </div>
        <div class="button-short">
            <a href="#">Clear Menu</a>
        </div>
    </section>
    <section class="container-section container-section-columns">
        {% with recipe_name="Lasagna", recipe_time="60" %}
            {% include 'components/recipe_card_sm.html' %}
        {% endwith %}
        {% with recipe_name="Bee Stew", recipe_time="20" %}
            {% include 'components/recipe_card_sm.html' %}
        {% endwith %}
    </section>
{% endblock %}