{% set active_page = 'view_recipe' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_recipe.css') }}">
{% endblock %}

{% block content %}
    {% with header_text="Lasagna", header_link="/", recipe_author="Hannah Burger", recipe_time="60" %}
        {% include 'components/header.html' %}
    {% endwith %}
    <section class="container-section">
        <div class="recipe-card-image-body">
            {% include 'components/recipe_card_image_icons.html' %}
        </div>
        <a href="#">+ add note</a>
        <a href="#">- 2 servings +</a>
    </section>
{% endblock %}